
.jumbotron.well {
    background: url('../images/img3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 1em;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: .75;
 }

 #bs-example-navbar-collapse-1 {
    border: 80px;

 }
 p#intro {
     font-size: 18px;
     line-height: 30px;   
 }

 h1 {
    padding-bottom: 50px;
    margin: 0px;
 }

h2 {
    margin-bottom: 50px;
    margin-top: 0px;

}


 p#copyright {
    text-align: center;
    background-color: #80bdc9;
 }
